#app-name{
    margin-left: 5%;
    font-size:25px;
    color:#fff;
    font-weight: bold;
}

.navbar{
    background: #1f74d6;
}

.container{
    margin-left: auto;
}

.user-text{
    margin-top: 15%;
    font-size:2rem;
}
