<div class="jumbotron-fluid">
  <div class="navbar">
    <div id="app-name">
      Twitter-Helpdesk
    </div>
  </div>
  <div class="content-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="form-wrapper">
            <form>
              <div class="form-group login-form">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="Enter email" [(ngModel)]="email" name="email">
                <small class="errorMessage" class="form-text text-muted">{{emailError}}</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1" >Password</label>
                <input type="password" [(ngModel)]='password' class="form-control" id="exampleInputPassword1" placeholder="Password"
                 name="password">
                <small class="errorMessage" class="form-text text-muted">{{passwordError}}</small>
              </div>
              <div class="button-wrapper">
                <button type="button" class="btn btn-primary" (click)="loginUser()" [disabled]=disableLogin>Login</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="form-wrapper">
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" id="exampleInputUsername1" aria-describedby="emailHelp"
                      placeholder="Enter username" [(ngModel)]="username" name="username">
                    <small class="errorMessage" class="form-text text-muted">{{usernameError}}</small>
                  </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  placeholder="Enter email" [(ngModel)]="registerEmail" name="registerEmail">
                <small class="errorMessage" class="form-text text-muted">{{registerEmailError}}</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1" >Password</label>
                <input type="password" [(ngModel)]="registerPassword" class="form-control" id="exampleInputPassword1" placeholder="Password"
                name="registerPassword">
                <small class="errorMessage" class="form-text text-muted">{{registerPasswordError}}</small>
              </div>
              <div class="button-wrapper">
                <button type="button" class="btn btn-primary" (click)="registerUser()" [disabled]="disableRegister">Register</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>