.form-wrapper{
    width:90%!important;
    margin-left: auto;
    margin-right: auto;
    font-family:'Roboto','sans-serif';
}
.form-wrapper{
    padding-top:25%;
}
.button-wrapper{
    margin-top:30px;
}

.text-muted{
    min-height:20px!important;
    height:20px;
    color:#e02909!important;
}

.login-form{
    padding-top:10%;
}

#app-name{
    margin-left: 5%;
    font-size:25px;
    color:#fff;
    font-weight: bold;
}

.navbar{
    background: #1f74d6;
}