<div>
  <div class="conversation-window" #scroller>
    <div *ngFor="let msg of conversation" class="messageDiv">
      <div class="another-wrapper">
        <div class="message-wrapper" [ngClass]="(isUsersMessage(msg))?'right-message':'left-message'">
          <div>
            <span class="user_name">{{msg.user_name}}</span>&nbsp;<span
              class="twitter_handle">@{{msg.screen_name}}</span>
          </div>
          <div>
            <span class="message">{{msg.text}}</span>
          </div>
          <div class="timestamp-wrapper">
              <span class="timestamp pull-right">{{msg.timestamp|dateFormat}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="message-box">
    <div class="row gen-wrapper">
      <div class="col-lg-10 col-md-10 textbox-wrapper">
        <textarea [(ngModel)]="replyMessage" name="replyMessage" placeholder="Type your reply here..."></textarea>
      </div>
      <div class="col-lg-2 col-md-2 button-wrapper">
        <button type="button" class="btn btn-primary btn-block" (click)="sendReply()" [disabled]="replyDisabled">Reply</button>
      </div>
    </div>
  </div>
</div>