.conversation-window{
    min-height: 300px;
    max-height: 65vh;
    height: 65vh;
    overflow-y: scroll;
    border: 1px solid #7c777744;
    box-shadow: 1px 2px #8a818144;
}

.message-box{
    min-height:100px;
    max-height: 22vh;
    height:22vh;
    position: relative;
    margin-top:2vh;
    border:1px solid #7c777744;
}

.gen-wrapper{
    margin-left:0px!important;
    margin-right:0px!important;
    margin-top: 10px;
    height:100%;
}   

.text-wrapper{
    padding-left:0%!important;
    padding-right:0!important;
}

textarea{
    margin-left:-2%!important;
    padding:0!important;
    height: 90%!important;
    width:100%!important;
    border:0;
}

textarea:focus,textarea:hover{
    outline:0px !important;
    -webkit-appearance:none;
}

.button-wrapper{
    float:right;
    width:auto;
}

.replyButton{
    width:100%!important;
    
}





