<div>
  <div class="conversation-window">
    <div *ngFor="let msg of conversation">
      <p>
        {{msg.screen_name}}
        {{msg.text}}
      </p>
    </div>
  </div>
  <div class="message-box">
    <div class="row gen-wrapper">
      <div class="col-lg-10 col-md-10 textbox-wrapper">
        <textarea [(ngModel)]="replyMessage" name="replyMessage" placeholder="Type your reply here..."></textarea>
      </div>
      <div class="col-lg-2 col-md-2 button-wrapper">
        <button type="button" class="btn btn-primary btn-block" (click)="sendReply()">Reply</button>
      </div>
    </div>
  </div>
</div>